In [1]:
#Importing Libraries For Computation 
import pandas as pd
import numpy as np
#Importing Stock Market Library
import yfinance as yf
#Importing Libraries For Machine Learning
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM

#Import matplot for plotting graphs of the stocks
import matplotlib.pyplot as plt
%matplotlib inline

#Normalizing Data For Accurate Computations
from sklearn.preprocessing import MinMaxScaler
Normalize = MinMaxScaler(feature_range=(0, 1))

#Assigning stock market and dates as inputs
Stock_Name = input("Enter a Stock Market:")
Start_Date = input("Enter the Start-Date(Y-M-D):")
End_Date = input("Enter the Final-Date(Y-M-D):") 

#read the file
Stock_Table = yf.download(Stock_Name,Start_Date,End_Date)

#print the head
Stock_Table.head()

Using TensorFlow backend.

Enter a Stock Market: GOOGL
Enter the Start-Date(Y-M-D): 2010-01-01
Enter the Final-Date(Y-M-D): 2020-01-01

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,312.687683,313.013000,310.300293,310.300293,310.300293,2437100
2010-01-04,313.788788,315.070068,312.432434,313.688690,313.688690,3908400
2010-01-05,313.903900,314.234222,311.081085,312.307312,312.307312,6003300
2010-01-06,313.243256,313.243256,303.483490,304.434448,304.434448,7949400
2010-01-07,305.005005,305.305298,296.621613,297.347351,297.347351,12815700

In [ ]:
plt.figure(figsize=(20,12))
plt.plot(Stock_Table['Close'], label='Close Price history')

In [ ]:
#Creating DataFrame For Closing Prices
Closing_Table = pd.DataFrame(index=range(0,len(Stock_Table)),columns=["Date", "Close"])
Closing_Table['Date'][:] = Stock_Table.index[:]
Closing_Table['Close'][:] = Stock_Table['Close'][:]
print(Closing_Table)